<div class="relative">
  <img src="assets/honlap.jpg" alt="header_background" class="object-contain" />
  <div
    class="absolute inset-0 flex justify-center lg:items-center w-full mt-10 lg:mt-0"
  >
    <div class="max-w-max text-center">
      <h1 class="text-3xl lg:text-6xl font-monthGlade">
        Kata&nbsp;&nbsp;és Ádám
      </h1>
      <p class="w-full text-xs lg:text-lg mt-5">
        Szeretettel meghívunk, hogy ünnepeljük együtt az esküvőnket!
      </p>
      <p class="mb-5">24|08|24</p>
    </div>
  </div>
</div>
