<div class="flex-row items-center justify-center p-4 text-sm lg:text-lg">
  <div class="text-center w-auto">
    <h1 class="mb-5 text-xl lg:text-5xl font-bold">Menetrend</h1>
  </div>
  <div class="flex justify-center overflow-x-auto mx-auto">
    <table class="divide-y divide-gray-300 thick-separator">
      <thead>
        <tr>
          <th class="px-3 py-3">Időpont</th>
          <th class="px-3 py-3 text-left">Program</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr>
          <th class="px-3 py-3 whitespace-nowrap">14:30</th>
          <td class="px-3 py-3 whitespace-nowrap">Érkezés a templomhoz</td>
        </tr>
        <tr>
          <th class="px-3 py-3 whitespace-nowrap">15:00</th>
          <td class="px-3 py-3 whitespace-nowrap">Templomi esküvő</td>
        </tr>
        <tr>
          <th class="px-3 py-3 whitespace-nowrap">16:00</th>
          <td class="px-3 py-3 whitespace-nowrap">
            Csoportkép a templomkertben
          </td>
        </tr>
        <tr>
          <th class="px-3 py-3 whitespace-nowrap">16:30</th>
          <td class="px-3 py-3 whitespace-nowrap">
            Vendégfogadás az Angyalkert Táborban
          </td>
        </tr>
        <tr>
          <th class="px-3 py-3 whitespace-nowrap">19:00</th>
          <td class="px-3 py-3 whitespace-nowrap">Vacsora</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
