<!--<div class="p-10">-->
<!--  <div class="text-center">-->
<!--    <h1 class="mb-5 text-5xl font-bold">Program</h1>-->
<!--  </div>-->
<!--  <div class="content-center m-16 mx-72">-->
<!--    <div class="overflow-x-auto max-w-screen-md">-->
<!--      <table class="table">-->
<!--        &lt;!&ndash; head &ndash;&gt;-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Időpont</th>-->
<!--            <th>Program</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          &lt;!&ndash; row 1 &ndash;&gt;-->
<!--          <tr>-->
<!--            <th>15:00</th>-->
<!--            <td>Templomi esküvő</td>-->
<!--          </tr>-->
<!--          &lt;!&ndash; row 2 &ndash;&gt;-->
<!--          <tr>-->
<!--            <th>16:00</th>-->
<!--            <td>Csoportkép a templomkertben</td>-->
<!--          </tr>-->
<!--          &lt;!&ndash; row 3 &ndash;&gt;-->
<!--          <tr>-->
<!--            <th>16:30</th>-->
<!--            <td>Érkezés az Angyalkert Táborba, vendégfogadás</td>-->
<!--          </tr>-->
<!--          &lt;!&ndash; row 4 &ndash;&gt;-->
<!--          <tr>-->
<!--            <th>19:00</th>-->
<!--            <td>Vacsora</td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="flex-row items-center justify-center p-10">
  <div class="text-center w-auto">
    <h1 class="mb-5 text-5xl font-bold">Program</h1>
  </div>
  <div class="flex justify-center overflow-x-auto mx-auto">
    <table class="min-w-full divide-y divide-gray-300 thick-separator">
      <thead>
        <tr>
          <th class="px-6 py-3">Időpont</th>
          <th class="px-6 py-3 text-left">Program</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr>
          <th class="px-6 py-4 whitespace-nowrap">15:00</th>
          <td class="px-6 py-4 whitespace-nowrap">Templomi esküvő</td>
        </tr>
        <tr>
          <th class="px-6 py-4 whitespace-nowrap">16:00</th>
          <td class="px-6 py-4 whitespace-nowrap">
            Csoportkép a templomkertben
          </td>
        </tr>
        <tr>
          <th class="px-6 py-4 whitespace-nowrap">16:30</th>
          <td class="px-6 py-4 whitespace-nowrap">
            Érkezés az Angyalkert Táborba, vendégfogadás
          </td>
        </tr>
        <tr>
          <th class="px-6 py-4 whitespace-nowrap">19:00</th>
          <td class="px-6 py-4 whitespace-nowrap">Vacsora</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
