 <div class="p-10">
   <div class="text-center">
      <h1 class="mb-5 text-5xl font-bold">Program</h1>
   </div>
  <div class="content-center m-16 mx-72">
    <div class="overflow-x-auto max-w-screen-md">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>Időpont</th>
            <th>Program</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <th>15:00</th>
            <td>Templomi esküvő</td>
          </tr>
          <!-- row 2 -->
          <tr>
            <th>16:00</th>
            <td>Csoportkép a templomkertben</td>
          </tr>
          <!-- row 3 -->
          <tr>
            <th>16:30</th>
            <td>Érkezés az Angyalkert Táborba, vendégfogadás</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>