<div style="background-image: url(assets/info-background.png);">
<div class="flex flex-wrap w-full justify-center lg:flex-row p-20 space-x-6">
  <div class="max-w-80 bg-transparent text-white">
  <h1 class="font-bold text-lg">Szállás információk</h1>
  <p>A helyszínen 40 főnek tudunk 5
     személyes faházikókban szállást
     biztosítani. Ezzel kapcsolatban
     keressetek bátran!</p>
  </div>
  <div class="max-w-80 bg-transparent text-white">
  <h1 class="font-bold text-lg">Dresszkód</h1>
  <p>A lakodalom nagyrészt szabadtéren
     lesz megtartva, ezért Nógrád
     megye hűvösebb estéire való
     tekintettel készüljetek
     kényelmes/meleg ruhával,
     váltócipővel.
  </p>
  </div>
  <div class="max-w-80 bg-transparent text-white">
  <h1 class="font-bold text-lg">Ajándék</h1>
  <p>Örömmel vesszük, ha
     hozzájárulsz a közös
     ünnepléshez.
  </p>
  </div>
</div>
</div>
