<div style="background-image: url(assets/info-background.png)">
  <div class="flex flex-wrap justify-evenly p-5 lg:p-10">
    <div class="max-w-80 bg-transparent text-white">
      <img class="pb-3" src="assets/house.png" alt="house" />
      <h1 class="font-bold text-lg">Szállás információk</h1>
      <p class="mb-5">
        A helyszínen 40 főnek tudunk 5 személyes faházikókban szállást
        biztosítani. Ezzel kapcsolatban keressetek bátran!
      </p>
      <h1 class="font-bold text-lg">Szállás alternatíva</h1>
      <p class="mb-5">
        Ha esetleg nem férsz be vagy máshol szállnál meg, az alábbi linkeken
        tudsz foglalni.
        <br />
        <a
          href="https://maps.app.goo.gl/JWYm5haxV31g5gnt6"
          target="_blank"
          class="font-medium text-amber-50 dark:text-amber-100 hover:underline"
          >Csermely Vendégház</a
        >
        <br />
        <a
          href="https://maps.app.goo.gl/npeucVTKCuaoCLWt7"
          target="_blank"
          class="font-medium text-amber-50 dark:text-amber-100 hover:underline"
          >Szentiványi Vendégházak</a
        >
      </p>
    </div>
    <div class="max-w-80 bg-transparent text-white">
      <img class="pb-3" src="assets/dresscode.png" alt="dresscode" />
      <h1 class="font-bold text-lg">Dresszkód</h1>
      <p class="mb-5">
        A lakodalom nagyrészt szabadtéren lesz megtartva, ezért Nógrád megye
        hűvösebb estéire való tekintettel készüljetek kényelmes/meleg ruhával,
        váltócipővel.
      </p>
    </div>
    <div class="max-w-80 bg-transparent text-white">
      <img class="pb-3" src="assets/gift.png" alt="gift" />
      <h1 class="font-bold text-lg">Ajándék</h1>
      <p class="mb-5 break-after-column">
        Örömmel vesszük, ha hozzájárulsz a közös ünnepléshez.
      </p>
      <p>Köszönjük, ha hozol egy kaparós sorsjegyet is!</p>
    </div>
  </div>
</div>
