<div style="background-image: url(assets/info-background.png)">
  <div class="flex flex-wrap justify-evenly p-5 lg:p-10">
    <div class="max-w-80 bg-transparent text-white">
      <img src="assets/house.png" alt="house" />
      <h1 class="font-bold text-lg">Szállás információk</h1>
      <p class="text-justify mb-5">
        A helyszínen 40 főnek tudunk 5 személyes faházikókban szállást
        biztosítani. Ezzel kapcsolatban keressetek bátran!
      </p>
    </div>
    <div class="max-w-80 bg-transparent text-white">
      <img src="assets/dresscode.png" alt="dresscode" />
      <h1 class="font-bold text-lg">Dresszkód</h1>
      <p class="text-justify mb-5">
        A lakodalom nagyrészt szabadtéren lesz megtartva, ezért Nógrád megye
        hűvösebb estéire való tekintettel készüljetek kényelmes/meleg ruhával,
        váltócipővel.
      </p>
    </div>
    <div class="max-w-80 bg-transparent text-white">
      <img src="assets/gift.png" alt="gift" />
      <h1 class="font-bold text-lg">Ajándék</h1>
      <p class="text-justify mb-5">
        Örömmel vesszük, ha hozzájárulsz a közös ünnepléshez.
      </p>
    </div>
  </div>
</div>
