<div class="flex flex-col gap-4">
  <!--   Flexbox 1: text | image -->
  <div class="flex flex-col items-center xl:flex-row">
    <div class="flex-1 p-12 lg:p-20 text-left">
      <h1 class="text-xl lg:text-5xl font-bold">Templom</h1>
      <hr class="mt-2 border-t-2 border-gray-300 max-w-96" />
      <h2 class="mt-2 font-bold">Helyszín:</h2>
      <p>Cserhátszentiváni Kisboldogasszony Templom</p>
      <a
        href="https://maps.app.goo.gl/WzPcggiZeVirirEj9"
        target="_blank"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
        >Cserhátszentiván, Kossuth u. 28, 3066</a
      >
      <h2 class="mt-2 font-bold">Információk:</h2>
      <p class="text-justify">
        Amennyiben lehetséges, kérjük, hogy a templom környékének korlátozott
        parkolási lehetőségei miatt, aki csak tudja, gyalogosan tegye meg az
        utat a táborból.
      </p>
    </div>
    <div class="flex-1">
      <div class="shrink-0">
        <div class="min-w-[400px] min-h-[250px] shrink-0">
          <img
            class="min-w-[400px] lg:max-w-[800px]"
            src="assets/church.png"
            alt="church"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Flexbox 2: image | text -->
  <div class="flex flex-col-reverse lg:flex-col items-center xl:flex-row">
    <div class="flex-1">
      <div class="shrink-0">
        <img
          class="min-w-[400px] lg:max-w-[800px]"
          src="assets/party.png"
          alt="party"
        />
      </div>
    </div>
    <div class="flex-1 p-12 lg:pr-20 lg:pl-0 text-left">
      <h1 class="text-xl lg:text-5xl font-bold">Lakodalom</h1>
      <hr class="mt-2 border-t-2 border-gray-300 max-w-96" />
      <h2 class="mt-2 font-bold">Helyszín:</h2>
      <p>Angyalkert Tábor Cserhátszentiván</p>
      <a
        href="https://maps.app.goo.gl/S2YVDNttWipCBb888"
        target="_blank"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
        >Cserhátszentiván, Kossuth u. 66, 3066</a
      >
      <h2 class="mt-2 font-bold">Parkolás:</h2>
      <p class="text-justify">
        A tábor melletti zöld területen lehet parkolni, nagyjából 30 autónak jut
        hely.
      </p>
    </div>
  </div>
</div>
