<h1 class="mb-5 text-5xl font-bold">Helyszín</h1>
<div class="flex flex-col w-full lg:flex-row p-10">
  <div class="grid flex-grow h-32 card bg-base-300 rounded-box place-items-center">content</div>
  <div class="divider lg:divider-horizontal"></div>
<!--  <div class="grid flex-grow h-32 card bg-base-300 rounded-box place-items-center">-->
<!--    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2672.8549723178758!2d19.58351077735225!3d47.93918896495041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47403fd86fd82573%3A0x1e6a54e526790213!2sAngyalkert%20T%C3%A1bor%20Cserh%C3%A1tszentiv%C3%A1n!5e0!3m2!1shu!2shu!4v1706365251727!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--  </div>-->
<div class="grid flex-grow h-96 card bg-base-300 rounded-box place-items-center"><iframe class="rounded-box h-96" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2672.8549723178758!2d19.58351077735225!3d47.93918896495041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47403fd86fd82573%3A0x1e6a54e526790213!2sAngyalkert%20T%C3%A1bor%20Cserh%C3%A1tszentiv%C3%A1n!5e0!3m2!1shu!2shu!4v1706365251727!5m2!1shu!2shu"
  style="width: 100%"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>