<div class="p-10">
  <div class="text-center">
    <h1 class="mb-5 text-5xl font-bold">Helyszínek</h1>
  </div>
  <div class="flex flex-col w-full lg:flex-row p-10">
<!--    <div style="background-image: url(assets/church.png);" class="flex-grow card h-80 "></div>-->
    <div class="flex-grow card h-32">
<!--      <img ngSrc="assets/church.png" alt="church" class="w-full object-contain min-h-20" height="1024" width="1024">-->
    </div>
    <div class="flex-grow card">
      <div class="text-left">
          <h1 class="mb-5 text-4xl font-bold">Templom</h1>
      </div>
      <div>
        <p>Cserhátszentiváni Kisboldogasszony Templom</p>
        <p>Cserhátszentiván, Kossuth u. 28, 3066</p>
      </div>
    </div>
  </div>
    <div class="flex flex-col w-full lg:flex-row p-10">
  <!--    <div style="background-image: url(assets/church.png);" class="flex-grow card h-80 "></div>-->
      <div class="flex-grow card">
        <div class="text-left">
            <h1 class="mb-5 text-4xl font-bold">Lakodalom</h1>
        </div>
        <div>
          <p>Angyalkert Tábor Cserhátszentiván</p>
          <p>Cserhátszentiván, Kossuth u. 66, 3066</p>
        </div>
      </div>
      <div class="flex-grow card h-32">
<!--         <img src="assets/party.png" alt="church" class="w-full object-contain min-h-20">-->
      </div>
    </div>
</div>
