/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Corbel";
    src: url("./assets/corbel.ttf") format("truetype");
  }

  @font-face {
    font-family: "MonthGlade";
    src: url("./assets/monthGlade.otf") format("opentype");
  }
  html {
    font-family: "Corbel", serif;
  }
}
